et_xmlfile==2.0.0
numpy==2.2.1
openpyxl==3.1.5
pandas==2.2.3
pyasn1==0.6.1
PySide6==6.8.1.1
PySide6_Addons==6.8.1.1
PySide6_Essentials==6.8.1.1
PySimpleGUI==5.0.8
PySimpleGUIQt==5.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
rsa==4.9
shiboken6==6.8.1.1
six==1.17.0
tzdata==2024.2
